.example-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    
  }
  
  .example-container > * {
    width: 100%;
    
  }
  
  .center{
      text-align: center;
  }


  .bookbutton{
    margin: 1rem;
    background-color:#379683;
    color: black;
    max-width: 20rem;
    margin: auto;
    
    }

    .black{
      
      color: #379683;
    }

  